/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mulish&family=Rubik&family=Source+Code+Pro&display=swap");

/* Base styles */

body {
  background-color: rgb(92, 92, 92);
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 800px;
}

/* Main */

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.main-title {
  font-family: "Rubik";
  font-size: 25px;
  margin: 30px 0 10px;
  color: black;
  text-decoration: underline rgb(245, 119, 1);
}
.main label {
  margin: 10px auto;
}

/* Spec */

.specifications {
  width: 100%;
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.spec-title {
  font-size: 20px;
  font-family: "Rubik";
  text-decoration: underline rgb(245, 119, 1);
  margin: 20px;
}
.spec-details {
  font-size: 15px;
  font-family: "Rubik";
  margin: 0 30px;
}
.spec-list {
  width: 350px;
  margin: 10px 25px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.spec-list::-webkit-scrollbar {
  background-color: transparent;
}
.spec-list::-webkit-scrollbar-thumb {
  background-color: rgb(245, 119, 1);
  width: 4px;
  border-radius: 2px;
}
.spec-item {
  width: 300px;
  min-height: 60px;
  justify-content: center;
  flex-direction: row;
  display: flex;
  background-color: rgb(114, 114, 114);
  border-radius: 20px;
}
.spec-item-title {
  position: relative;
  height: 100%;
  font-size: 20px;
  width: calc(300px - 6em);
  font-family: "Rubik";
  margin: auto;
}
.spec-item-checkbox-box {
  position: relative;
  margin: auto 20px auto -10px;
}
